.weatherHourlyItem {
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0.5em 0.5em 0.5em 0.5em;
  position: relative;
  background-color: var(--color-neutral-700);
  border-color: var(--color-neutral-600);
}

.momentWeather {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.weatherImage {
  height: 3em;
  position: absolute;
}

.hour {
  font-family: "DM Sans";
  color: var(--color-neutral-0);
  display: inline-block;
  margin-left: 2.5em;
  padding: 0 0.5em;
}

.temperature {
  font-family: "DM Sans";
  color: var(--color-neutral-0);
}

@media screen and (min-width: 1024px) {
  .weatherHourlyItem {
    padding: 0.6em 0.35em;
  }
}
