.buttonStyle {
  background-color: var(--color-blue-700);
  border-radius: 8px;
  padding: 0.5em;
  font-family: "DM Sans";
  font-size: 1em;
  font-weight: 500;
  width: 100%;
  color: var(--color-neutral-0);
  border: none;
  outline: none;
}

.buttonStyle:hover {
  cursor: pointer;
}

.buttonStyle[type="reset"] {
  background-color: var(--color-neutral-600);
  display: flex;
  align-items: center;
  width: auto;
}
