.mainHeaderContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.75em 1em;
}

.btnSelect {
  padding-left: 1.5em;
  background-image: url("../../../assets/images/icon-units.svg");
  background-repeat: no-repeat;
  background-position: left center;
}
