.weatherDataContainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1em;
  margin: 1em;
  max-width: 700px;
}

@media screen and (min-width: 1024px) {
  .weatherDataContainer {
    grid-template-columns: repeat(4, 10em);
    justify-self: end;
    margin: 1em 0 0 0;
    gap: 0;
    justify-content: space-between;
    width: 700px;
  }
}
