.inputSearchContent {
  background-color: var(--color-neutral-700);
  border-radius: 8px;
  padding: 0.5em;
  display: flex;
  align-items: center;
  gap: 0.5em;
  margin: 0;
}

.inputSearchContent:hover{
  cursor: pointer;
}

@media screen and (min-width: 1024px) {
  .inputSearchContent {
    padding: 0.75em;
    width: 470px;
  }
}
