:root {
  /* Screen Sizes */
  --screen-mobile: 375px;
  --screen-desktop: 1440px;

  /* Colors */
  --color-neutral-900: hsl(243, 96%, 9%);
  --color-neutral-800: hsl(243, 27%, 20%);
  --color-neutral-700: hsl(243, 23%, 24%);
  --color-neutral-600: hsl(243, 23%, 30%);
  --color-neutral-300: hsl(240, 6%, 70%);
  --color-neutral-200: hsl(250, 6%, 84%);
  --color-neutral-0: hsl(0, 0%, 100%);

  --color-orange-500: hsl(28, 100%, 52%);

  --color-blue-700: hsl(248, 70%, 36%);
  --color-blue-500: hsl(233, 67%, 56%);

  /* Font */
  --font-size-base: 18px;
}

body {
  background-color: var(--color-neutral-900);
  min-width: 375px;
  margin: 0;
}
