.weatherWeekContainer {
  margin: 1.75em 1em 0;
}

.daysContainer {
  display: grid;
  grid-template-columns: repeat(3, 105px);
  gap: 0.8em;
  justify-content: center;
}

.weekTitle {
  font-family: "DM Sans";
  font-size: 1em;
  color: var(--color-neutral-0);
}

.dayText,
.dayTemperature {
  font-family: "DM Sans";
  font-size: 0.7em;
  color: var(--color-neutral-0);
  text-align: center;
}

.temperatureRange {
  display: flex;
  justify-content: space-between;
}

@media screen and (min-width: 1024px) {
  .weatherWeekContainer {
    margin: 1em 0 0 2em;
  }

  .weekTitle {
    margin-bottom: 0.5em;
    margin-top: 0.5em;
  }

  .daysContainer {
    grid-template-columns: repeat(7, 5em);
    gap: 0.5em;
    justify-content: space-between;
  }

  .card {
    padding: 0.5em;
  }

  .dayText,
  .dayTemperature {
    font-size: 0.55em;
  }
}
