.errorContainer {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 4em;
}

.errorIcon {
  width: 2em;
  height: 2em;
}

.errorTitle {
  color: var(--color-neutral-0);
  font-family: "DM Sans";
  font-size: 1.9em;
  margin-bottom: 0.5rem;
}

.errorDescription {
  color: var(--color-neutral-200);
  font-family: "DM Sans";
  text-align: center;
  font-size: 0.7em;
  display: inline-block;
  max-width: 300px;
}

.resetBtnText {
  margin-left: 0.5em;
}
